<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" /> 
    <title>WhereBe.Us :: find out where your Facebook and Twitter friends are, in realtime!</title>
    <link rel="stylesheet" type="text/css" href="{% static_url /css/main.css %}" media="screen" />
    <meta name="viewport" content="width = device-width">
    <meta name="viewport" content="initial-scale = 1.0">
</head>
<body>
    <div class="page-phone">
        <div class="content-phone">
            <img src="{% static_url /images/small-face.png %}" class="phone-face"/>
            <h3 class="phone-headline">Thank you for using WhereBeUs!</h3>
            <p class="phone-content-start">WhereBeUs makes it easy to find out where your Facebook and Twitter friends are <em>right now</em>! Just enter your account and they'll show up on the map.</p>
            <p>WhereBeUs was written by <a href="http://davepeck.org/">Dave Peck</a> and <a href="http://briandorsey.info/">Brian Dorsey</a>.</p>
            <p>Questions or comments? <a href="javascript:document.location=['mxilto',':dxv','zpzck','@','gm','xi','l.co', 'm, brix', 'ndors', 'zy@gmxi', 'l.com'].join('').replace(/x/g,'a').replace(/z/g,%20'e');">Send us an email</a>.</p>
            <p>WhereBeUs is <a href="http://github.com/davepeck/WhereBeUs/">open source</a>.</p>
        </div>        
    </div>
</body>
</html>