<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" /> 
    <title>WhereBe.Us :: find out where your Facebook and Twitter friends are, in realtime!</title>
    <link rel="stylesheet" type="text/css" href="{% static_url /css/main.css %}" media="screen" />
</head>
<body>
    <div class="page">
        <div class="header">
            <img src="{% static_url /images/wherebeus-textlogo-small.png %}" />
        </div>

        <div class="faq-content">
            <h2>Frequently Asked Questions</h2>
            
            <div>
                <p class="q"><span class="qa">Q:</span> What does this do, exactly?</p>
                <p><span class="qa">A:</span> WhereBeUs lets you see where your friends are on a map. As your friends move, their location is instantly updated.</p>
            </div>
            
            <div>
                <p class="q"><span class="qa">Q:</span> Wait, which friends can I see?</p>
                <p><span class="qa">A:</span> You can see any friends that are also using WhereBeUs.</p>
            </div>
            
            <div>
                <p class="q"><span class="qa">Q:</span> So how do I tell WhereBeUs who my friends are?</p>
                <p><span class="qa">A:</span> It's easy! Just log in with Facebook or Twitter and WhereBeUs will instantly find out who your friends are. Any of your friends that are <i>also</i> using WhereBeUs will instantly show up on the map.</p>
            </div>
            
            <div>
                <p class="q"><span class="qa">Q:</span> Do I have to keep running WhereBeUs to update my location?</p>
                <p><span class="qa">A:</span> Yes. At the moment, if you're "on the move," you should keep WhereBeUs running. You'll disappear from your friends' maps about two hours after your last update with WhereBeUs.</p>
            </div>
            
            <div>
                <p class="q"><span class="qa">Q:</span> Is there anyway to go "invisible" for a while?</p>
                <p><span class="qa">A:</span> There is no explicit way at the moment. But if you don't update with WhereBeUs, after two hours you'll simply disappear.</p>
            </div>
            
            <div>
                <p class="q"><span class="qa">Q:</span> How does this relate to Foursquare and Gowalla?</p>
                <p><span class="qa">A:</span> We think they're complimentary. We think WhereBeUs is most useful when you want to figure out where your friends are right now -- for example, when you're waiting for them at a coffee shop, restaurant, or bar.</p>
            </div>
            
            <div>
                <p class="q"><span class="qa">Q:</span> How does this relate to Google Latitude?</p>
                <p><span class="qa">A:</span> Google Latitude is very similar. What's great about WhereBeUs is you don't have to create a new account or go through the painful process of connecting with your friends. You've already done that with Facebook and Twitter, which is where WhereBeUs gets its information about your friends.</p>
            </div>

            <div>
                <p class="q"><span class="qa">Q:</span> When I send a message, how does that work?</p>
                <p><span class="qa">A:</span> If you're using Twitter, your message will be tweeted. If you're using Facebook, your message will appear on your wall. If you're using both, your message will appear in both places.</p>
            </div>
            
            <div>
                <p class="q"><span class="qa">Q:</span> Who built this?</p>
                <p><span class="qa">A:</span> WhereBeUs was written by <a href="http://davepeck.org/">Dave Peck</a> and <a href="http://briandorsey.info/">Brian Dorsey</a>. We're both software developers hailing from Seattle, WA, USA. Dave is a freelance developer and would be happy to help you build cool new things.</p>
            </div>
            
            <div>
                <p class="q"><span class="qa">Q:</span> And it's free?</p>
                <p><span class="qa">A:</span> Yes, WhereBeUs is free... and it always will be.</p>
            </div>
            
            <div>
                <p class="q"><span class="qa">Q:</span> Why did you build this?</p>
                <p><span class="qa">A:</span> For fun, and because we wanted to make the simplest possible app of this style. Let us know how we did.</p>
            </div>
            
            <div>
                <p class="q"><span class="qa">Q:</span> And it's open source?</p>
                <p><span class="qa">A:</span> Yes, it's open source! We wrote it in just a few weeks, so there's a lot of great stuff we'd love to see added. If you're a developer, we encourage you to <a href="http://github.com/davepeck/WhereBeUs/">make a fork on GitHub</a> and get started building.</p>
            </div>
            
            <div>
                <p class="q"><span class="qa">Q:</span> What are the next two things you plan to do with WhereBeUs?</p>
                <p><span class="qa">A:</span> On the iPhone app, we want to give you a list of all your friends so you can quickly jump between them and can quickly find people who are far away. <br />On the back-end, we plan to integrate with Twitter and Facebook geo-metadata. What that means is that if your friends <i>don't</i> use WhereBeUs, but they post stuff tagged with a latitude and longitude, they will <i>also</i> automatically show up in your WhereBeUs map.</p>
            </div>
        </div>
        
        <div class="footer">
            <div class="copyright">&copy; 2010 <a href="http://davepeck.org/">Dave Peck</a> and <a href="http://briandorsey.info/">Brian Dorsey</a>, All Rights Reserved.<br /><a href="javascript:document.location=['mxilto',':dxv','zpzck','@','gm','xi','l.co', 'm, brix', 'ndors', 'zy@gmxi', 'l.com'].join('').replace(/x/g,'a').replace(/z/g,%20'e');">Get in touch</a> or check out the code on <a href="http://github.com/davepeck/WhereBeUs/">Github</a>.</div>
        </div>        
    </div>
    
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try 
        {
            var pageTracker = _gat._getTracker("UA-12595619-1");
            pageTracker._trackPageview();
        } 
        catch(err) 
        {}
    </script>    
</body>
</html>
