<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" /> 
    <title>WhereBe.Us :: find out where your Facebook and Twitter friends are, in realtime!</title>
    <link rel="stylesheet" type="text/css" href="{% static_url /css/main.css %}" media="screen" />
</head>
<body>
    <div class="page">
        <div class="header">
            <img src="{% static_url /images/wherebeus-textlogo.png %}" />
        </div>
        
        <div class="content">
            <p>Coming in early 2010. Follow our progress on <a href="http://github.com/davepeck/WhereBeUs/">GitHub</a>.</p>
        </div>
        
        <div class="footer">
            <div class="copyright">&copy; 2009-2010 <a href="http://davepeck.org/">Dave Peck</a> and <a href="http://briandorsey.info/">Brian Dorsey</a>, All Rights Reserved.</div>
        </div>
    </div>
</body>
</html>