#--------------------------------
# Web Site Config Excludes
#--------------------------------

config.php
.htaccess


#--------------------------------
# Key File Excludes
#--------------------------------

FacebookKeys.plist


#--------------------------------
# Python Noise
#--------------------------------

*.pyc


#--------------------------------
# Other Source Control Noise
#--------------------------------

*.LCK
.svn


#--------------------------------
# OSX Noise
#--------------------------------

.DS_Store
profile


#--------------------------------
# XCode Noise
#--------------------------------

build
build/
build/*
*.pbxuser
*.mode1v3
*.perspectivev3


#------------------
# Palm Pre Ignores
#------------------

*.ipk
